@model StudentsContact.Models.Grades

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Grades</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalEducation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhysicalEducation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndustrialTechnology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndustrialTechnology)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Physics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Physics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Math)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Math)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentsContacts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentsContacts.EmailAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
