@model IEnumerable<StudentsContact.Models.Grades>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhysicalEducation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndustrialTechnology)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Physics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Math)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentsContacts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhysicalEducation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndustrialTechnology)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Physics)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Math)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentsContacts.EmailAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
